@model pcg.Models.AdminModel
@{
    ViewData["Title"] = "Admin Page";
  
}
<div class="top-card">
    <h1>WELCOME TO YOUR DASHBOARD</h1>
</div>

@* <div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Approved Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>

    


</div>
<div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Forwarded Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>
</div>
<div class="card-container">
    <div class="info-box bg-success">
        <span class="info-box-icon"><i class="ph ph-check-fat"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Recent Pending  Task</span>
            <span class="info-box-number">410</span>
            <a href="#" class="info-box-link">View Details</a> <!-- Added clickable link -->
        </div>
    </div>
</div>
 *@

        <div class="dbcard dbshadow">
            <div class="dbcard-content">
        <div class="dbtitle-container">
            <h2 class="dbcard-title">
            <i class="fas fa-tasks"></i>
            Newest Task
        </h2
        ></div>
    
                <div class="dbtask-info">
                    <div class="title-container">
                        <h3>Task No:</h3>
                <h3>Task Status:</h3>
                <h3>Remarks:</h3>
                <h3>Description:</h3>
                <h3>Assignee:</h3>
                <h3>Client/Site:</h3>
                    </div>
                    <div class="data-container">
                        <p>1</p>
                <p>On-going</p>
                <p>Sample Remarks</p>
                <p>Sample Description</p>
                <p>Irina</p>
                <p>Aragon</p>
                    </div>
                  @*   <p><strong>Task No.:</strong> 1</p>
                    <p><strong>Task:</strong> On-going</p>
                    <p><strong>Remarks:</strong> Sample</p>
                    <p><strong>Description:</strong> Employee 321314</p>
                    <p><strong>Assignee:</strong> Aragon</p>
                    <p><strong>Client/Site:</strong> 3-25-2024</p> *@
                </div>
            </div>
        </div>
<div class="dbcard dbshadow">
    <div class="dbcard-content">
        <div class="dbtitle-container">
            <h2 class="dbcard-title">
                <i class="fas fa-share"></i>
               Recent Forwarded Task
            </h2>
        </div>

        <div class="dbtask-info">
            <div class="title-container">
                <h3>Task No:</h3>
                <h3>Task Status:</h3>
                <h3>Remarks:</h3>
                <h3>Description:</h3>
                <h3>Assignee:</h3>
                <h3>Client/Site:</h3>
            </div>
            <div class="data-container">
                <p>1</p>
                <p>On-going</p>
                <p>Sample Remarks</p>
                <p>Sample Description</p>
                <p>Irina</p>
                <p>Aragon</p>
            </div>
            @*   <p><strong>Task No.:</strong> 1</p>
            <p><strong>Task:</strong> On-going</p>
            <p><strong>Remarks:</strong> Sample</p>
            <p><strong>Description:</strong> Employee 321314</p>
            <p><strong>Assignee:</strong> Aragon</p>
            <p><strong>Client/Site:</strong> 3-25-2024</p> *@
        </div>
    </div>
</div>

<div class="dbcard dbshadow">
    <div class="dbcard-content">
        <div class="dbtitle-container">
            <h2 class="dbcard-title">
                <i class="fas fa-circle"></i>
               Recent Approved
            </h2>
        </div>

        <div class="dbtask-info">
            <div class="title-container">
                <h3>Task No:</h3>
                <h3>Task Status:</h3>
                <h3>Remarks:</h3>
                <h3>Description:</h3>
                <h3>Assignee:</h3>
                <h3>Client/Site:</h3>
            </div>
            <div class="data-container">
                <p>1</p>
                <p>On-going</p>
                <p>Sample Remarks</p>
                <p>Sample Description</p>
                <p>Irina</p>
                <p>Aragon</p>
            </div>
            @*   <p><strong>Task No.:</strong> 1</p>
            <p><strong>Task:</strong> On-going</p>
            <p><strong>Remarks:</strong> Sample</p>
            <p><strong>Description:</strong> Employee 321314</p>
            <p><strong>Assignee:</strong> Aragon</p>
            <p><strong>Client/Site:</strong> 3-25-2024</p> *@
        </div>
    </div>
</div>


















