
<title>@ViewData["Buttons"] - pcg</title>
<div class="card">
    <div class="top-card">
        <h1>Buttons</h1>
    </div>

        <div class="button-container-large">
            <label for="large-buttons">Large Buttons</label>
            <button type="button" class="btn btn-approve btn-large">
                Approve
            </button>
            <button type="button" class="btn btn-decline btn-large">
                Decline
            </button>
            <button type="button" class="btn btn-update btn-large">
                Update
            </button>
            <button type="button" class="btn btn-gray btn-large">
                Terminate
            </button>
            <button type="button" class="btn btn-finish btn-large">
                Finish
            </button>
        </div>

        <div class="button-container-regular">
            <label for="regular-buttons">Regular Buttons</label>
            <button type="button" class="btn btn-approve btn-regular">
                Approve
            </button>
            <button type="button" class="btn btn-decline btn-regular">
                Decline
            </button>
            <button type="button" class="btn btn-update btn-regular">
                Update
            </button>
            <button type="button" class="btn btn-gray btn-regular">
                Terminate
            </button>
            <button type="button" class="btn btn-finish btn-regular">
                Finish
            </button>
        </div>

        <div class="button-container-small">
            <label for="small-buttons">Small Buttons</label>
            <button type="button" class="btn btn-approve btn-small">
                Approve
            </button>
            <button type="button" class="btn btn-decline btn-small">
                Decline
            </button>
            <button type="button" class="btn btn-update btn-small">
                Update
            </button>
            <button type="button" class="btn btn-gray btn-small">
                Terminate
            </button>
            <button type="button" class="btn btn-finish btn-small">
                Finish
            </button>
        </div>
    
</div>
    


    
